<h1> Welcome to Gerking's Bookmark Manager </h1>
<h2> <%= bookmark.all %> </h2>

<form action='/new' method='post'>
  Add your bookmark if you dare:
  <input type='text' name='bookmark'>
  <br></br>
  <button>Enscribe</button>
</form>
